<?xml version="1.0"?>
<job_metrics>
  <core />
  <cpuinfo />
  <meminfo />
  <uname />
  <cgroup params="cpuacct.usage,memory.max_usage_in_bytes,memory.memsw.max_usage_in_bytes" />
 <hostname />
</job_metrics>
